<tr data-appid="{{id}}">
  <td>{{jobtitle}}</td>
  <td>{{applicant}}</td>
  <td><span class="chip chip--status">{{status}}</span></td>
  <td>{{submitted}}</td>
  <td><a class="btn btn-sm btn-link" href="{{viewurl}}">{{#str}} view, local_jobboard {{/str}}</a></td>
</tr>
